@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Lora:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  display: inline-block;
  text-decoration: none;
}
a:hover, a:focus, a:visited,
button:hover,
button:focus,
button:visited {
  outline: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1119px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 971px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 747px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 550px;
  }
}

.flex--between {
  display: flex;
  justify-content: space-between;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex--center {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "fonticons";
  src: url("../scss/icons/fonticons.eot");
  src: url("../scss/icons/fonticons.eot?#iefix") format("eot"), url("../scss/icons/fonticons.woff2") format("woff2"), url("../scss/icons/fonticons.woff") format("woff"), url("../scss/icons/fonticons.ttf") format("truetype"), url("../scss/icons/fonticons.svg#fonticons") format("svg");
}
.icon-twitter-brands:before, .icon-shop:before, .icon-scissors:before, .icon-paw-solid:before, .icon-instagram-brands:before, .icon-hospital-alt-solid:before, .icon-facebook-f-brands:before, .icon-dog:before, .icon-dog-training:before, .icon-chevron-up-solid:before, .icon-chevron-right-solid:before, .icon-chevron-left-solid:before, .icon-chevron-down-solid:before {
  font-family: "fonticons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-chevron-down-solid:before {
  content: "\e001";
}

.icon-chevron-left-solid:before {
  content: "\e002";
}

.icon-chevron-right-solid:before {
  content: "\e003";
}

.icon-chevron-up-solid:before {
  content: "\e004";
}

.icon-dog-training:before {
  content: "\e005";
}

.icon-dog:before {
  content: "\e006";
}

.icon-facebook-f-brands:before {
  content: "\e007";
}

.icon-hospital-alt-solid:before {
  content: "\e008";
}

.icon-instagram-brands:before {
  content: "\e009";
}

.icon-paw-solid:before {
  content: "\e00a";
}

.icon-scissors:before {
  content: "\e00b";
}

.icon-shop:before {
  content: "\e00c";
}

.icon-twitter-brands:before {
  content: "\e00d";
}

body {
  padding: 0;
}
@media (min-width: 767px) {
  body {
    margin: 0 auto;
    padding: 0 5rem;
    max-width: 1440px;
    font-family: "Lora", serif;
  }
}

.site-footer {
  max-width: 1440px;
  padding: 2rem 1rem;
  background: #212529;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 767px) {
  .site-footer {
    padding: 6rem 5rem;
    height: calc(400px - 12rem);
  }
}
@media (min-width: 767px) {
  .site-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 991px) {
  .site-footer {
    grid-template-columns: repeat(4, 1fr);
  }
}
.site-footer--heading {
  font-size: 18px;
  font-weight: 7000;
  font-family: "Lora", serif;
  line-height: 25px;
  margin-bottom: 1rem;
  text-align: center;
}
@media (min-width: 767px) {
  .site-footer--heading {
    text-align: left;
  }
}
.site-footer--links li {
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.36px;
  color: #e5e5e5;
}
@media (min-width: 767px) {
  .site-footer--links li {
    text-align: left;
  }
}
.site-footer ul.nav-socials {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 767px) {
  .site-footer ul.nav-socials {
    text-align: left;
  }
}
.site-footer ul.nav-socials li.nav-social {
  display: inline-block;
  margin-right: 18px;
  font-size: 20px;
}

.sub-footer {
  max-width: 1440px;
  max-height: 80px;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #e5e5e5;
  background-color: #343a40;
}
.sub-footer .publisher {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.sub-footer .subscribe {
  font-size: 14px;
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.site-header {
  height: 600px;
  max-width: 1440px;
  background-image: url("../img/Image.png");
  background-size: cover;
  background-position: center;
}
@media (min-width: 767px) {
  .site-header {
    background-position: center;
  }
}
@media (min-width: 991px) {
  .site-header {
    background-size: cover;
  }
}
.site-header .navbar {
  position: sticky;
  height: 80px;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  color: white;
}
@media (min-width: 767px) {
  .site-header .navbar {
    padding: 0 5rem;
  }
}
.site-header .navbar .logo {
  flex: 50%;
  display: inline-block;
}
@media (min-width: 991px) {
  .site-header .navbar .logo {
    flex: 10%;
  }
}
.site-header .navbar .logo h1 {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.site-header .navbar .nav {
  display: none;
}
.site-header .navbar .nav a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.site-header .navbar .nav a:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in;
}
@media (min-width: 991px) {
  .site-header .navbar .nav {
    display: flex;
    flex: 90%;
    justify-content: flex-end;
    flex-direction: row;
  }
  .site-header .navbar .nav ul {
    height: 100%;
    display: inline-block;
  }
  .site-header .navbar .nav ul > li {
    display: inline-block;
    font-family: "Spartan", sans-serif;
    font-size: 12px;
    font-weight: 700;
  }
  .site-header .navbar .nav ul.nav-links {
    border-right: 1px solid silver;
  }
  .site-header .navbar .nav ul.nav-links li {
    margin-right: 25px;
  }
  .site-header .navbar .nav ul.nav-links li:last-child {
    margin-right: 17px;
  }
  .site-header .navbar .nav ul.nav-links .active {
    position: relative;
  }
  .site-header .navbar .nav ul.nav-links .active::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #d4a373;
    left: 0px;
    bottom: -6px;
    width: 100%;
  }
  .site-header .navbar .nav ul.nav-socials {
    border-right: 1px solid silver;
  }
  .site-header .navbar .nav ul.nav-socials li.nav-social {
    margin-right: 17px;
    font-size: 1rem;
  }
  .site-header .navbar .nav ul.nav-socials li.nav-social:first-child {
    margin-left: 17px;
  }
  .site-header .navbar .nav ul.nav-socials li.nav-social:hover {
    transform: scale(1.15);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .site-header .navbar .nav ul.search-icon {
    margin-left: 17px;
  }
  .site-header .navbar .nav ul.search-icon li {
    font-size: 1rem;
  }
  .site-header .navbar .nav ul.search-icon li:hover {
    transform: scale(1.15);
    cursor: pointer;
  }
}
@media (min-width: 1199px) {
  .site-header .navbar .nav {
    display: flex;
    flex: 80%;
    justify-content: flex-end;
  }
}
.site-header .navbar .hamburger {
  position: relative;
  z-index: 100;
  right: 1rem;
  padding: 4px;
  background: none;
  cursor: pointer;
}
@media (min-width: 991px) {
  .site-header .navbar .hamburger {
    display: none;
  }
}
.site-header .title-box {
  position: relative;
  width: calc(66% - 1rem);
  margin-left: 1rem;
  margin-top: calc(12rem - 80px);
}
@media (min-width: 991px) {
  .site-header .title-box {
    margin-left: 5rem;
    width: calc(50% - 5rem);
  }
}
@media (min-width: 991px) {
  .site-header .title-box {
    margin-top: calc(17rem - 80px);
  }
}
.site-header .title-box--pre-title {
  font-size: 10px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  line-height: 12px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  padding: 6px 10px;
  color: white;
  display: inline;
}
.site-header .title-box--head-title {
  margin-top: 1rem;
  color: white;
  font-size: 28px;
  line-height: 1.1;
}
@media (min-width: 767px) {
  .site-header .title-box--head-title {
    font-size: 36px;
    line-height: 1.25;
  }
}
.site-header .title-box--post-title {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  color: white;
}
.site-header .title-box--post-title .date {
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}
.site-header .title-box--post-title .dash {
  margin: 0 12px;
  min-width: 24px;
}
.site-header .title-box--post-title .text {
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
}

section {
  max-width: calc(100% - 140px);
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 0 1rem;
}
@media (min-width: 767px) {
  section {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding: 0 70px;
  }
}

section.topics {
  font-family: "Lora", serif;
}
@media (min-width: 767px) {
  section.topics {
    margin-bottom: 9rem;
    max-width: 1300px;
  }
}
section.topics .section-tags {
  width: calc(100vw - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  section.topics .section-tags {
    width: auto;
  }
}
@media (min-width: 991px) {
  section.topics .section-tags {
    justify-content: flex-start;
  }
}
section.topics .section-tags ul {
  list-style: none;
}
section.topics .section-tags ul li.tag {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin-right: 20px;
  line-height: 25px;
}
section.topics .stories {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
section.topics .stories .story {
  padding: 1rem;
  position: relative;
  width: 330px;
}
@media (min-width: 991px) {
  section.topics .stories .story {
    max-width: 295px;
  }
}
section.topics .stories .story--category {
  position: absolute;
  top: 36px;
  right: 36px;
  z-index: 10;
  font-size: 10px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
section.topics .stories .story--img {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
section.topics .stories .story--date {
  margin-bottom: 1rem;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #6c757d;
}
section.topics .stories .story--heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #495057;
  margin-bottom: 1rem;
}
section.topics .stories .story--preview {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #6c757d;
}

section.jumbo {
  background-image: url(../../img/jumbo-bg-01.png);
  background-size: cover;
  background-position: center;
  max-width: calc(1440px - 10rem);
  height: 600px;
}
section.jumbo .centered-50 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}
@media (min-width: 991px) {
  section.jumbo .centered-50 {
    flex: 50%;
    width: 50%;
  }
}
section.jumbo .jumbo-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: white;
}
section.jumbo .jumbo-post-title {
  margin-top: 13px;
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
  color: white;
}
section.jumbo .jumbo-category {
  position: relative;
  margin-bottom: 24px;
  z-index: 10;
  font-size: 10px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
section.jumbo .dash {
  margin-top: 24px;
  margin-bottom: 15px;
  min-width: 24px;
  color: white;
}

section.picks {
  width: 98.5%;
}
section.picks .stories-3 {
  margin: 0 auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}
section.picks .stories-3 .story {
  position: relative;
  max-width: 390px;
  height: 350px;
}
section.picks .stories-3 .story .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.picks .stories-3 .story .text-box {
  position: absolute;
  color: white;
  width: calc(350px - 1rem - 40px);
  top: 137px;
  padding: 1rem;
  left: calc(40px - 1.5rem);
}
section.picks .stories-3 .story .text-box--title {
  letter-spacing: -1.1px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
section.picks .stories-3 .story .text-box--post-title {
  font-style: italic;
  font-size: 12px;
  line-height: 20px;
  color: #e5e5e5;
  letter-spacing: -0.7px;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
}

.date {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  font-family: "Lora", serif;
  margin-bottom: 1rem;
  color: #e5e5e5;
}

.category {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  font-size: 10px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 10px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.category--active {
  color: #d4a373;
}