.site-header {
  height: 600px;
  max-width: 1440px;
  background-image: url("../img/Image.png");
  .navbar {
    position: sticky;
    height: 80px;
    padding: 0 5rem;
    background-color: rgba(black, 0.2);
    display: flex;
    align-items: center;
    color: white;

    .logo {
      flex: 50%;
      display: inline-block;
      h1 {
        font-family: $f-spartan;
        font-weight: 700;
        font-size: 20px;
      }
    }

    .nav {
      flex: 36%;
      ul {
        height: 100%;
        display: inline-block;
      }

      ul > li {
        display: inline-block;
        font-family: $f-spartan;
        font-size: 12px;
        font-weight: 700;
        // border: 1px solid red;
      }
      ul.nav-links {
        border-right: 1px solid silver;
        li {
          margin-right: 25px;
          &:last-child {
            margin-right: 17px;
          }
        }
      }
      ul.nav-socials {
        border-right: 1px solid silver;
        li.nav-social {
          margin-right: 17px;
          &:first-child {
            margin-left: 17px;
          }
        }
      }
      ul.search-icon {
        margin-left: 17px;
      }
    }
  }
  .title-box {
    position: relative;
    border: 1px solid red;
    width: calc(50% - 5rem);
    margin-left: 5rem;
    margin-top: calc(17rem - 80px);

    &--head-title {
      color: white;
      font-size: 36px;
      line-height: 46px;
    }
  }
}
